.rate-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  margin-bottom: none;
}

.rate-heading {
  font-family: Roboto;
  color: #616e7c;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
}

.rate {
  color: #171f46;
  font-size: 30px;
  font-weight: 600;
  font-family: Roboto;
  margin-bottom: 0px;
}

.rate-para {
  color: #616e7c;
  font-family: Roboto;
  padding: 0px;
  margin-top: 0px;
}

.checkout-button {
  border: 0px;
  border-radius: 7px;
  background-color: #0b69ff;
  color: #ffffff;
  font-family: Roboto;
  width: 100%;
  padding: 15px;
}
